<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>User Login</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',
  filename = 'style.css') }}" />
</head>

<body>

  <table id="header">
    <tr>
      <td>
        <h1>The Call of the Wild</h1>
        <h3 style="color: Black">Camping and Hiking Items Catalog</h3>

      </td>

      <td align="right">
        {% if is_login == False %}
        <form action="{{ url_for('login')}}">
          <input type="submit" value="Log in">
        </form>
        {% else %}
        <form action="{{ url_for('logout')}}">
          <input type="submit" value="Log out">
        </form>
        {% endif %}
      </td>
    </tr>
  </table>
  <table id="content_tbl">
    <tr>
      <td id="content_col" valign="top">
        <form action="{{ url_for('login')}}" method="post">
          <p>Enter username:
          <p><input type=text name=username>
            <p><input type=submit value=Login>
            </form>
          </td>
        </tr>
      </table>
    </body>
    </html>
